<tr id="<%= dom_id friend %>">
  <td style="width: 80px;">
    <% if friend.image.attached? %>
      <%= image_tag(friend.image, style: 'width: 100%', class: 'rounded-circle') %>
    <% else %>
      <%= image_tag("https://conferenceoeh.com/wp-content/uploads/profile-pic-dummy.png", style: 'width: 100%', class: 'rounded-circle') %>
    <% end %>
  </td>
  <td class="align-middle">
    <%= link_to friend.first_name + ' ' + friend.last_name , friend %>
  </td>
  <td class="align-middle">
    <%= friend.email %>
  </td>
  <td class="align-middle">
    <%= friend.phone %>
  </td>
  <td class="align-middle">
    <%= button_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  </td>
</tr>
